In [2]:
import pandas as pd

In [39]:
#Задание1
df_cus = pd.read_csv("customer_database к ДЗ 7/customer.csv",sep = ";")
df_pur = pd.read_csv("customer_database к ДЗ 7/purchase.csv",sep = ";")
df_cusseg = pd.read_csv("customer_database к ДЗ 7/customers_segmetns.csv",sep = ";")
df_seg = pd.read_csv("customer_database к ДЗ 7/segment.csv",sep = ";")
df_prod = pd.read_csv("customer_database к ДЗ 7/product.csv",sep = ";")
df_prod_feed = pd.read_csv("customer_database к ДЗ 7/product_feedback.csv",sep = ";")

#print(df_pur.head())
#print(df_cus.head())
#print(df_cusseg.head())
#print(df_seg.head())
#print(df_prod.head())
#print(df_prod_feed.head(30))
df1 = df_pur.merge(df_prod, 
                left_on='product_id',
                right_on='id',
                how='left') 
index_to_replace = df1["price"] == "Free"
df1.loc[index_to_replace, "price"] = 0
print(df1.groupby('user_id')['product_id'].sum().reset_index(name='sum_prod'))
print('-'*50)
df1['total_cost'] = df1['quantity'].astype(float) * df1['price'].astype(float)
print(df1.groupby('user_id')['total_cost'].sum())
print('-'*50)
df2 = df_pur.merge(df_prod_feed, 
                left_on='id',
                right_on='purchase_id',
                how='left')
print(df2.groupby('purchase_id')['rating'].mean())
print('-'*50)
#print(df2.groupby('purchase_id')['rating'].max())
print('-'*50)
print(df1.groupby('category_name')['quantity'].sum().sort_values(ascending=False))
print('-'*50)
print(df2.groupby('product_id')['purchase_id'].count())

    user_id  sum_prod
0         1       768
1         2       849
2         3       776
3         4      1090
4         5       499
5         6       512
6         7       545
7         8       757
8         9      1213
9        10       606
10       11      1001
11       12       244
12       13       451
13       14       966
14       15       491
15       16       959
16       17      1334
17       18       797
18       19      1178
19       20       304
20       21       837
21       22       700
22       23       531
23       24       807
24       25       867
25       26       943
26       27       653
27       28      1112
28       29       406
29       30       522
30       31       689
31       32       892
32       33       270
33       34       846
34       35       928
35       36       354
36       37       535
37       38       940
38       39       637
39       40      1165
40       41       395
41       42       534
42       43       502
43       44       224
44       45      1204
45       46      1034
46       47       993
47       48      1067
48       49       596
--------------------------------------------------
user_id
1     563.84
2     398.34
3     247.85
4     359.27
5     164.91
6     478.39
7     161.89
8     433.32
9     337.29
10    267.85
11    362.87
12    134.93
13    200.87
14    490.79
15    297.41
16    208.84
17    521.78
18    408.83
19    475.27
20    269.94
21    247.86
22    432.86
23    278.90
24    534.79
25    412.83
26    629.26
27    266.36
28    423.80
29    232.90
30    132.90
31    389.32
32    384.83
33     85.95
34    339.85
35    412.33
36    199.86
37    223.89
38    481.81
39    211.88
40    519.76
41    132.89
42    356.83
43    149.37
44    174.93
45    519.76
46    568.82
47    460.78
48    402.83
49    534.86
Name: total_cost, dtype: float64
--------------------------------------------------
purchase_id
3228114.0       8.0
4966072.0       6.0
7091716.0       5.0
9627136.0      10.0
14417739.0     10.0
               ...
958407388.0     5.0
973454044.0     6.0
974312778.0     5.0
977137702.0     5.0
991580304.0     6.0
Name: rating, Length: 235, dtype: float64
--------------------------------------------------
--------------------------------------------------
category_name
Games     269
Books     264
Movies    224
Name: quantity, dtype: int64
--------------------------------------------------
product_id
1      3
2      0
3      2
4      0
5      2
      ..
145    1
146    2
147    2
148    2
149    0
Name: purchase_id, Length: 145, dtype: int64